# Conexão com o MySQL que já existe. O banco (schema) precisa existir; as tabelas são criadas na subida (Flyway).
# MySQL no próprio servidor, fora do Docker:
DB_URL=jdbc:mysql://host.docker.internal:3306/benerh?serverTimezone=UTC
# MySQL em outro container: use o nome do serviço/container e a mesma rede Docker, por exemplo
# DB_URL=jdbc:mysql://mysql:3306/benerh?serverTimezone=UTC
DB_USER=benerh
DB_PASSWORD=troque-esta-senha
CORS_ALLOWED_ORIGINS=https://benerh.com.br,https://www.benerh.com.br
